{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% load custom_tags %}
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="d-flex main-div flex-wrap justify-content-start text-start" style="min-height: 80vh;">
            <div class="d-flex flex-wrap justify-content-center text-light">
                {% for address in addresses %}
                    <div class="p-3 bd-highlight">
                        <div class="card" style="width: 18rem; border-color:#252422; background-color:#181B1E">
                            <img src="{% static 'images/index.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body" style="background-color:#181B1E;">
                                <h5 class="card-title">{{ address.get_country_display }}</h5>
                                <p class="card-text">{{ address.city }}, {{ address.details }}</p>
                                <a href="{% url 'edit address' pk=address.pk %}" class="button-6">Update Address</a>
                                <a href="{% url 'delete address' pk=address.pk %}" class="button-6">Remove</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ms-auto p-3 bd-highligt">
                <a href="{% url 'add address' %}" class='button-7' style="margin-right:50px;">Add an address</a>
            </div>
        </div>
    </div>
{% endblock %}