{% extends 'base.html' %}
{% load custom_tags %}
{% block page_content %}
    <span class="d-block p-2 text-white" style="; margin:30px; background-color:#353438">
    <div class="row py-5 px-1">
        <div class="col-md-9 mx-auto">
            <!-- Profile widget -->
            <div class="bg-dark shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    {% if profile.shop_banner %}
                        <div class="media align-items-end profile-head"
                             style="background-image: url('{{ profile.shop_banner.url }}');  background-repeat:no-repeat; background-position:center; background-attachment: scroll; padding-left:20px">
                    {% else %}
                        <div class="media align-items-end profile-head">
                    {% endif %}
                    <div class="profile mr-3">
                        <img src="{{ profile.profile_photo.url }}" alt="..." class="rounded mb-2 thumbnail-profile">
                        <div class="row align-items-end">
                            <div class="media-body col-3 mb-2 text-white">
                                <h4 class="mt-0 mb-0">@{{ profile.username }}</h4>
                                {% if user.profile == profile %}
                                <a href="{% url 'edit banner' pk=profile.pk %}" class="btn btn-outline-light "
                                   style="font-size: 12px; margin-top: 10px">Edit banner</a>
                                {% endif %}
                            </div>
                            <div class="media-body col-2 mb-2 text-white">
                            </div>
                        </div>
                    </div>
                    </div>
                    {% if user.is_authenticated %}
                    {% if user.profile == profile %}
                        <div class="bg-dark text-light d-flex justify-content-start text-center mb-4"
                             style="margin-top:20px">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="{% url 'edit profile' pk=profile.pk %}" class="btn btn-outline-light ">Edit
                                        profile</a>
                                    <a href="{% url 'manage payments' profile.username %}"
                                       class="btn btn-outline-light " style="margin-left: 10px">Manage Payment
                                        Methods</a>
                                    <a href="{% url 'manage addresses' profile.username %}"
                                       class="btn btn-outline-light " style="margin-left: 10px">Manage Addresses</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    {% endif %}
                    <div class="px-4 py-3">
                        {% if profile.country or profile.description %}
                            <h5 class="mb-0">About:</h5>
                            <p class="small mb-2"><i class="fas fa-map-marker-alt mr-2"></i></p>
                            <div class="p-4 rounded shadow-sm bg-dark">
                                {% if profile.country %}
                                    <p class="font-italic mb-4">Based in: {{ profile.get_country_display }}</p>
                                {% endif %}
                                <p class="font-italic mb-3">{{ profile.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if products %}
                        <div class="px-4 py-3">
                            <h5 class="mb-4">Available items:</h5>
                            <div class="bg-dark text-light d-flex flex-wrap justify-content-center text-center align-items-center">
                                {% for product in products %}
                                    {% if product.product_quantity > 0 %}
                                        <div class="p-3 bd-highlight">
                                            <div class="card" style="width: 18rem; border-color:black">
                                                <img src="{{ product.product_photo.url }}"
                                                     class="card-img-top thumbnail-profile-item" alt="...">
                                                <div class="card-body" style="background-color:#262528;">
                                                    <h5 class="card-title">{{ product.product_name }}</h5>
                                                    <a href="{% url 'details' pk=product.pk %}" class="button-7">Check
                                                        it out here</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if is_paginated %}
                                <a href="{% url 'profile products' profile.username %}" class="button-7"
                                   style="margin-left: 10px">See All Items</a>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </span>
{% endblock %}