.image15 {
    width: 15vw;
}

.image30 {
    width: 30vw;
}

.image50 {
    width: 50vw;
}

.thumbnail-navbar {
    object-fit: cover;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.thumbnail-browse {
    min-height: 30vh;
    max-height: 30vh;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail-profile {
    height: 160px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid;
    margin-top: 20px;
}

.thumbnail-profile-item {
    height: 240px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
}


.button-7 {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, "Helvetica Neue";
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-7:hover,
.button-7:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: lightgray;
}

.button-7:hover {
    transform: translateY(-1px);
}

.button-7:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.button-6 {
    align-items: center;
    background-color: #E0DFE1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, "Helvetica Neue";
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.rcorners {
  border-radius: 25px;
}

.asteriskField {
    display: none;
}

label {
    margin-bottom:15px;
}

.main-div {
    width:89vw;
    margin:30px;
    background-color: #212529;
    padding: 5px;
}
