.image15 {
    width: 15vw;
}

.image30 {
    width: 30vw;
}

.image50 {
    width: 50vw;
}

.thumbnail-navbar{
    object-fit: cover;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.thumbnail-browse{
    min-height:30vh;
    max-height:30vh;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail-profile{
    min-height:15vw;
    max-width: 15vw;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid;
}