<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url 'register user' %}">Register</a>
        <a href="{% url 'login user' %}">Login</a>
        <a href="{% url 'logout user' %}">Logout</a>
        <a href="{% url 'profile details' %}">Profile</a>
        <a href="{% url 'add product' %}">Add Product</a>
        <a href="{% url 'browse' %}">Browse</a
    </div>
    {% block page_content %}
    {% endblock %}
</body>
</html>