{% extends 'base.html' %}
{% block page_content %}
    {% load custom_tags %}
    <span class="d-block p-2 text-white" style="; margin:30px">
    <div class="d-flex flex-wrap justify-content-center">
        {% for product in products %}
            {% if product.product_quantity > 0 %}
                <div class="p-3 bd-highlight">
                    <div class="card" style="width: 18rem; border-color:black">
                        <img src="{{ product.product_photo.url }}" class="card-img-top thumbnail-browse" alt="...">
                        <div class="card-body" style="background-color:#353438;">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">{{ product.product_description|truncatesmart:30}}</p>
                            <p class="card-text">${{ product.product_price }}</p>
                            <a href="{% url 'details' pk=product.pk %}" class="button-6">View Details</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'add to cart' pk=product.pk %}" class="button-6">Add to
                                    cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </span>
{% endblock %}