{% extends 'base.html' %}
{% load custom_tags %}
{% block page_content %}
    <div class="container bg-dark text-light rounded-top" style="margin-top:45px; min-height:78vh">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12 pt-2">
                <div class="d-flex" >
                    <div class="pt-1">
                    </div>
                </div>
                <div class="d-flex flex-column pt-4 justify-content-center align-items-center">
                    {% if cartitems %}
                        <div>
                            <h5 class="text-uppercase font-weight-normal">shopping cart</h5>
                        </div>
                        <div class="font-weight-normal">{{ cartitems|length }}</div>
                    {% else %}
                        <div class="font-weight-normal">You do not have any items in your cart.
                            <a href="{% url 'browse' %}" class="button-7" style="font-size:16px; margin-left: 20px">Browse</a>
                        </div>
                    {% endif %}
                </div>
                {% for cartitem in cartitems %}
                    <div class="d-flex flex-row justify-content-between align-items-center pt-4 pb-3 mobile">
                        <div class="d-flex flex-row align-items-center">
                            <div><img src="{{ cartitem.product.product_photo.url }}" class="thumbnail-profile"
                                      style="margin-right:20px" alt=""></div>
                            <div class="d-flex flex-column pl-md-3 pl-1">
                                <div>
                                    <h6>{{ cartitem.product.product_name }}</h6>
                                </div>
                                <div>Artist: <span class="pl-3">{{ cartitem.product.profile }}</span></div>
                            </div>
                        </div>
                        <div class="pl-md-0 pl-2"><b>${{ cartitem.product.product_price }}</b></div>
                        <div class="pl-md-0 pl-2"><span class="fa fa-minus-square text-secondary"></span><span
                                class="px-md-3 px-1">{{ cartitem.quantity }}</span><span
                                class="fa fa-plus-square text-secondary"></span></div>
                        <div class="pl-md-0 pl-2">
                            <b>${{ cartitem.quantity|multiply:cartitem.product.product_price }}</b></div>
                        <div class="close"><a href="{% url 'remove cartitem' pk=cartitem.pk %}" class="btn btn-outline-light btn-sm">x</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if cartitems %}
        <div class="container bg-dark text-light rounded-bottom py-4" id="zero-pad">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-12">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="px-md-0 px-1" style="margin-right: 20px"><b class="pl-md-4">SUBTOTAL <span
                                class="pl-md-4">${{ total }}</span></b></div>
                        <div><a href="{% url 'checkout' %}" class="button-7" style="font-size:23px">Checkout</a></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}