{% extends 'base.html' %}
{% block page_content %}
    <div>
            <div style="border: 2px solid">
                {% for cartitem in cartitems %}
                <h1>
                    {{ cartitem.product.product_name }}
                </h1>
                <h3>
                    ${{ cartitem.product.product_price }}
                {% if cartitem.quantity > 1 %}
                   x {{ cartitem.quantity }}
                {% endif %}
                </h3>
                        {% endfor %}
            </div>
    <div>
        <h3>Total: {{total}}</h3>
        <a href="#">Place Order</a>
    </div>
{% endblock %}