{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 88vh;">
        <form method="post" enctype='multipart/form-data' style="justify-content:center;">
            {% csrf_token %}
            <div class="p-5 bd-highlight d-grid gap-3 text-light row justify-content-center align-items-center">
                {{ form|crispy }}
                {% if cards and addresses %}
                    <div class="d-grid text-light justify-content-center align-items-center">
                        <h1 style="font-size:20px">Your total is ${{ total }}</h1>
                    </div>
                    <div class="input-group d-flex justify-content-center align-items-center">
                        <input formnovalidate type="submit" class="button-7" style="width:120px" name="cancel"
                               value="Cancel">
                        <span class="input-group-btn" style="width:15px;"></span>
                        <input type="submit" class="button-7" style="width:120px" name="remove"
                               value="Place Order">
                    </div>
                {% else %}
                    <div style="margin-top:20px">
                        {% if not addresses %}
                            <div class="justify-content-center align-items-center">
                                <h1 style="font-size:16px" class="col">Please add a valid address first</h1>
                                <a href="{% url "add address" %}" class="button-7" style="width:150px">Add an
                                    address</a>
                            </div>
                        {% endif %}
                        {% if not cards %}
                            <div class="justify-content-start" style="margin-top:20px">
                                <h1 style="font-size:16px" class="col">Please add a valid payment method first</h1>
                                <a href="{% url "add payment" %}" class="button-7" style="width:150px">Add a card</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}