{% extends 'base.html' %}
{% block page_content %}
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <span class="d-block p-2 bg-dark text-white" style="height:90vh">
        <div class="p-3 bd-highlight d-grid gap-1 row justify-content-center align-items-center">
            {% for field in form %}
                <div class="mb-1">
                        <label class="form-label">{{ field.label }}:</label>
                </div>
                {{ field }}
                    {% if field.errors %}
                        <div class="border-bottom-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
            {% endfor %}
        <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
        {% if cards and addresses %}
            <div class="input-group" style="margin-top:20px">
                <input type="submit" class="button-7" style="margin-right: 30px; font-size:20px" name="cancel" value="Cancel">
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="submit" class="button-7" style="font-size:20px" name="place order" value="Place Order">
            </div>
        {% else %}
            <div class="row" style="margin-top:20px">
            {% if not addresses %}
                <div class="row justify-content-center">
                    <h1 style="font-size:16px" class="col-sm-5">Please add a valid address first</h1>
                    <a href="{% url "add address" %}" class="button-7 col-sm-5" style="margin-right: 30px; font-size:20px">Add an address</a>
                </div>
            {% endif %}
                <span class="input-group-btn" style="width:0px;"></span>
            {% if not cards %}
                <div class="row justify-content-center">
                    <h1 style="font-size:16px" class="col-sm-5">Please add a valid payment method first</h1>
                    <a href="{% url "add payment" %}" class="button-7 col-sm-4" style="margin-right: 30px; font-size:20px">Add a card</a>
                </div>
            {% endif %}
        </div>
        {% endif %}
  </div>
        </div>
</span>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form }}

    </form>
{% endblock %}