{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 88vh;">
        <form method="post" enctype='multipart/form-data' style="justify-content:center;">
            {% csrf_token %}
            <div class="p-5 bd-highlight d-grid gap-3 text-light row justify-content-center align-items-center">
                {{ form|crispy }}
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="button-7 " style="margin-top:10px; width:120px">Restock</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}