{% extends 'base.html' %}
{% block page_content %}
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <span class="d-block p-2 bg-dark text-white" style="height:90vh">
        <div class="p-3 bd-highlight d-grid gap-1 row justify-content-center align-items-center">
            {% for field in form %}
                <div class="mb-1">
                        <label class="form-label">{{ field.label }}:</label>
                </div>
                {{ field }}
                    {% if field.errors %}
                        <div class="border-bottom-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
            {% endfor %}
        <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
  </div>
            <div class="row justify-content-center align-items-center">
            <button type="submit" class="btn btn-secondary " style="margin-top:20px">Add</button>
        </div>
        </div>
</span>
    </form>
{% endblock %}